.imagem2{
    background-image:url(https://p4.wallpaperbetter.com/wallpaper/319/432/850/anime-saint-seiya-hades-saint-seiya-wallpaper-preview.jpg);
    min-height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
}
.textos2{
    font-weight: bold !important;
}
.botãoCancelar{
    margin-right: 20px !important;
}
.fundo{
    background-image: url()
}