.imagem2{
    background-image:url();
    background-repeat:no-repeat;
    width:80vh;
    min-height:90vh;
    background-size:cover;
    background-position:center;
}
.textos2{
    font-weight: bold !important;
}
.botãoCancelar{
    margin-right: 20px !important;
}
.fundo{
    background-color: white
}