.imagem2{
    background-image:url(https://o.remove.bg/downloads/1af582a6-848c-4912-9cb5-d58b7db89235/19595d20-e931-47eb-98d4-37d7381b6588-removebg-preview.png);
    background-repeat:no-repeat;
    width:80vh;
    min-height:90vh;
    background-size:cover;
    background-position:center;
}
.textos2{
    font-weight: bold !important;
}
.botãoCancelar{
    margin-right: 20px !important;
}
.fundo{
    background-color: white
}