

.caixa{
    background: #0077ff;

}
.titulo{
    color: white !important;
    font-weight: bold;
}
.botao{
    border-color: white !important;
    background-color: #FF844E !important;
    color: white !important; 
}
.postagens{
    background-color: white;
}
.margin{
    padding: 0 !important;
    margin: 0 !important;
}
