

.caixa{
    /* background: #0077ff; */
    background-image:url(https://images8.alphacoders.com/114/1143485.jpg) !important;
    min-height:70vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;

}
.titulo{
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}
.botao{
    border-color: white !important;
    background-color: #A4896D !important;
    color: white !important; 
}
.postagens{
    background-color: white;
}
.margin{
    padding: 0 !important;
    margin: 0 !important;
}
.text-decorator-none{
    text-decoration: none;
}