.box1{
    background-color: #00a6ff !important;
    height: 120px;
}
.box2{
    background-color: #30699f;
    height: 60px
}
.redes{
    font-size: 30px !important;
    color: rgb(255, 255, 255);
}
.textos{
    color: white;

}
.text-decorator-none{
    text-decoration: none;
}
.cor{
    background-color: black !important; 
}