.textos1{
    color: white;
}
.imagem{
        background-image:url(https://wallpaperaccess.com/full/3991880.jpg);
        background-repeat:no-repeat;
        min-height:100vh;
        background-size:cover;
        background-position:top;
}

.text-decorator-none{
    text-decoration: none !important;
}
.botão{
    border-color: white !important;
    background-color: #0080ff !important;
    color: white !important; 
    justify-content:center
}
.botão2{
    border-color: white !important;
    color: white !important;
    

}
.texto{
    color: #0080ff;
}